@*@model AADAL.Data.PersonMetaData*@

<link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
<div class="panel panel-default tab-pane fade in active" id="sectionA">
    <div class="box">
        <div class="box-body no-padding">
            <table class="table table-striped">
                <tbody>
                    <tr>
                        <th>Year</th>
                        <th>Equipment</th>
                        <th style="width: 40px">Seat</th>
                    </tr>
                    <tr>
                        <td>1.</td>
                        <td>
                            <div class="form-group" >
                                <select class="form-control select2 select2-hidden-accessible" style="cursor: pointer; width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control select2 select2-hidden-accessible" style="cursor: pointer; width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>2.</td>
                        <td>
                            <div class="form-group">
                                <select class="form-control select2 select2-hidden-accessible" style="cursor: pointer; width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">Alabama</option>
                                    <option>Alaska</option>
                                    <option>California</option>
                                    <option>Delaware</option>
                                    <option>Tennessee</option>
                                    <option>Texas</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </td>
                        <td>
                            <div class="form-group">
                                <select class="form-control select2 select2-hidden-accessible" style="cursor: pointer; width: 100%;" tabindex="-1" aria-hidden="true">
                                    <option selected="selected">1</option>
                                    <option>2</option>
                                    <option>3</option>
                                    <option>4</option>
                                    <option>5</option>
                                    <option>6</option>
                                    <option>Washington</option>
                                </select>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td>3.</td>
                        <td>
                            <select class="form-control select2 select2-hidden-accessible" style="width: 100%;" tabindex="-1" aria-hidden="true">
                                <option selected="selected">Alabama</option>
                                <option>Alaska</option>
                                <option>California</option>
                                <option>Delaware</option>
                                <option>Tennessee</option>
                                <option>Texas</option>
                                <option>Washington</option>
                            </select>
                        </td>
                        <td>SEAT 3</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- /.box-body -->
    </div>

    <div class="col-xs-12 form-group">
        <div class="col-xs-4 form-group">
            <label class="control-label"></label>
            <input type="submit" id="submit" class="btn btn-success" value="Submit" style="width:65px;" />
            <button type="button" class="btn btn-danger">Cancel</button>
        </div>
    </div> <br /><br /><br />
</div>
